.layout {
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    "leftSide rigthSide" 1fr
    / 1fr 1fr;
}

.left {
  grid-area: leftSide;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.rigth {
  grid-area: rigthSide;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
