.container_list {
    color: black;
}

.container_sticky{
    width: 100%;
    height: 8em;
    /* background-color: aliceblue; */
    /* max-height: 165px; */
    overflow: hidden;
    overflow-y: auto;
}

.container_sticky_bosy_list{
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-around;
}