.container {
  /* margin: 2em; */
  /* background-color: brown; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  
  /* text-decoration: none !important; */
}

.container_sticky_card {
  /* height: 70%; */
  /* width:ma; */
  /* margin-left: 2em; */
  display: grid;
  gap: 2em;
  grid-auto-rows: 10em;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  overflow:visible;
  margin: 1em;

}

.container_header_home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 2rem; */
  color: whitesmoke;
}

.iconbtn_container {
  position:fixed;
  /* width: 100vw; */
  /* display: flex;
  align-items: flex-end;
  justify-content: flex-end; */
  right: 6vw;
  top: 5vh;
  /* bottom: 48%; */
  /* display: flex;
  align-content:flex-start;
  flex-direction: column;
  height: 100%; */
  /* background-color: antiquewhite; */

  /* background-color: aliceblue; */
}

.container_footer_home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
  margin-top: 2%;

}




.link {
  text-decoration: none;
  color: black;
}