.container {
  /* margin: 2em; */
  /* background-color: brown; */
  height: 100%;
  width: 100%;
}

.container_sticky_card {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 0;
  /* background-color: aqua; */
}

.sticky_body {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 90%;
  width: 100%;
}

.container_roles {
  margin-left: 10%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}

.container_cards_roles{
  height:  100%;
  width: 90%;
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
}

.button_container{
  position: relative;
  bottom: 1.5em;
  /* background-color: aqua; */
  /* padding: 1em; */
}

.containerprogressbar{
  width: 100%;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.button{
  display: none;
}

.step {
  width: fit-content;
  /* display: flex; */
  /* gap: 1em; */
  min-width: 4em;
  /* background-color: #f1f1f1; */
  /* overflow: scroll; */

  user-select: contain;
}

.wrapper_full li span {
  background-color: var(--succesBar) !important;
}
.wrapper_trazado_full li span {
  background-color: var(--succesBar) !important;
}

.wrapper_full {
  /* position: absolute; */
  max-width: 25em;
  /* padding-left: 10em; */

  /* padding-top: 1em; */
  overflow: scroll;
  /* background-color: blue; */
  margin: 0;
  max-height: 6em;
  overflow-y: hidden;
  scrollbar-width: none;


}

.wrapper_trazado{
  /* position: absolute; */
  max-width: 25em;
  /* padding-left: 10em; */

  /* padding-top: 1em; */
  overflow: scroll;
  /* background-color: blue; */
  margin: 0;
  max-height: 6em;
  overflow-y: hidden;
  scrollbar-width: none;


}

.wrapper_trazado_full{
  /* position: absolute; */
  max-width: 100%;
  /* padding-left: 10em; */


  /* padding-top: 1em; */
  overflow: scroll;
  /* background-color: blue; */
  margin: 0;
  max-height: 6em;
  overflow-y: hidden;
  scrollbar-width: none;


}

.wrapper {
  /* position: absolute; */
  max-width:fit-content ;
  /* padding-left: 10em; */

  overflow: scroll;
  /* background-color: blue; */
  margin: 0;
  max-height: 6em;
  overflow-y: hidden;
  scrollbar-width: none;

}

